
<div class="aboutContainer">
	<h3>The Elevator Pitch</h3>
	<article  parallax [config]="{initialValue: -500, ratio: .3}">
		<p class="elevatorPitch">
			Port Web Solutions wants to build your business with cutting-edge online technology. Search results favour advanced websites. In {{ objDate | date:'yyyy' }}, leading websites need to feel similar to <strong [@changeDivSize]=currentState1>mobile apps</strong>. The more dynamic and user responsive the more customers will enjoy their interactions and search engines will rank it higher as a result. Newer technology means a more competitive website&mdash;it can have more controls for visitors and it displays content faster. Let's build a website that is molded to you and your customer's expectations.
		</p>
		<h4>People expect web-content to be</h4>
		<ul class="listOfQualities">
			<li><strong [@changeDivSize]=currentState2a>Fast</strong></li>
			<li><strong [@changeDivSize]=currentState2b>Clear</strong></li>
			<li><strong [@changeDivSize]=currentState2c>Reactive</strong></li>
			<li><strong [@changeDivSize]=currentState2d>Behaviour Driven</strong></li>
		</ul>
		
		<p class="elevatorPitch"> Making websites using Google's <strong [@changeDivSize]=currentState3>mobile application</strong> driven technology: It's the bees-knees right now and it smashes competition. </p>
	</article>
</div>


<div class="sideArrow" parallax [config]="{initialValue: -1300, ratio: .64}"></div>


