h3 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 3em;
}
ul.listOfQualities li strong{
    text-decoration: underline;
    line-height: 1.5;
    padding: 0 4px;
}
ul.listOfQualities {
    list-style: none;
}
.aboutContainer {
    background:url('../../assets/softStarRipple2.png');
 
    background-repeat: no-repeat;
    padding: 10vh 6vw 0vh 6vw;
    font-size: 1.8em;
    height: 180vh;
}

.metaaboutContainer {
    height: 200vh;
    padding-top: 0px;
    background: white;
}

p.elevatorPitch strong, .listPitch {
    font-size: 1.1em;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 0 3px;
    position: relative;
}

.sideArrow{
    background:url('../../assets/arrowMin.svg');
    background-size: 12%;
    background-repeat: no-repeat;
    width: 130vw;
    height: 150vh;
    -webkit-transform: rotate(-450deg);
    transform: rotate(-90deg);
    padding: 0;
    bottom: 100;
    left: -0px;
    position: absolute;
    z-index: 0;
    }