.aboutContainer {
    background: white;
    padding: 10vh 6vw;
    font-size: 1.4em;
}
.aboutContainer article{
    background:url('../../assets/smallSmudge.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 50vh;
}
p.elevatorPitch strong {
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 1px;
    text-shadow: -1px -1px 0 #0c0c0c, 1px -1px 0 #0c0c0c, -1px 1px 0 #0c0c0c, 1px 1px 0 #0c0c0c;
    color: #f4f4f4;
    background: #62b8f7;
    padding: 0 3px;
}