

h3 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 3em;
}
ul.listOfQualities li strong{
    text-decoration: underline;
    line-height: 1.5;
    padding: 0 4px;
}

.aboutContainer {
    background: white;
    padding: 10vh 6vw 6vh 6vw;
    font-size: 1.4em;
}
.aboutContainer article{
    background:url('../../assets/smallSmudge.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 25vh;
}
p.elevatorPitch strong {
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0 3px;
    position: relative;
}

.sideArrow{
    background:url('../../assets/arrowMin.svg');
    background-size: 12%;
    background-repeat: no-repeat;
    width: 130vw;
    height: 150vh;
    -webkit-transform: rotate(-450deg);
    transform: rotate(-90deg);
    padding: 0;
    bottom: 100;
    left: -0px;
    position: absolute;
    z-index: 0;
    }