
<div class="aboutContainer">
	<h3>Caleb's Elevator Pitch</h3>
	<article  parallax [config]="{initialValue: -600, ratio: .4}">
		<p class="elevatorPitch">
			I'm one guy and look at what I can do...On Google this website <strong>ranks higher</strong> because it is expertly built with cutting-edge technology. By working with me you get a better website and you deal with one person. That's me	&mdash; Caleb Grams. By getting a lightining fast website you boost your customer experience and your <strong>SEO</strong> score. Better and newer technology means a more competitive website.
		</p>
		<p class="elevatorPitch">
			Wordpress has had it's day. It still has a place but most people never really used it for what it was designed to do. It's power was in publishing blogs. As a result it has three drawbacks in today's <strong>competive</strong> environment: it's slow to download which hurts your user experience, it ranks lower on Google because of the large amount of code, it is harder to make advanced websites with.
		</p>
		<p class="elevatorPitch"> I make websites using Google's website <strong>technology</strong> called Angular. It's the bees-knees right now and it smashes competition.</p>
	</article>
</div>