
<div class="aboutContainer">
	<h3>The Elevator Pitch</h3>
	<article  parallax [config]="{initialValue: -500, ratio: .3}">
		<p class="elevatorPitch">
			On Google this website <strong [@changeDivSize]=currentState1>ranks higher</strong> because it is expertly built with cutting-edge technology. By working with me you get a better website and you deal with one person &mdash; Caleb Grams. Having a lightining fast website you improve how customers feel and you get more customers by ranking higher on Google. Better and newer technology means a more competitive website.
		</p>
		<p class="elevatorPitch">
			 Websites need to be built to behave in ways that are molded to customer expectations. People expect it to be fast, clear, and respond to their choices. Modern websites now behave like a <strong [@changeDivSize]=currentState2>web app</strong>.
		</p>
		<p class="elevatorPitch"> I make websites using Google's <strong [@changeDivSize]=currentState3>mobile</strong> application driven technology. It's the bees-knees right now and it smashes competition.</p>
	</article>
</div>


<div class="sideArrow" parallax [config]="{initialValue: -1300, ratio: .64}"></div>

