@media only screen and (min-device-width : 950px) and (max-device-width : 1024px){
    .sideArrow{
            width: 100vw;
        } 

     div.metaaboutContainer{
        height: 150vh;
    } 

    .projectsContainer {
        padding: 15vh 6vw;
        font-size: 1.4em;
        height: 1000px;
    }
    .picsContainerProjects{
        grid-template-columns: 100%;
    }
    ul.projectSkills li {
        display: inline;
    }

}

 

@media screen and (max-width: 949px) {
    h3{
        margin: 5% 0;
        font-size: 1.77em;
    }
    .picsContainerProjects{
        display: -ms-grid;
        display: grid;
        grid-template-columns: 100%;
    }

    .projectsContainer{
        padding: 1px 6vw;
        font-size: 1em;
    }
    
    .threePreviousWork{ display: none; }

    .threePreviousWorkMobile{
        display: flex;
        flex-direction: column;
    }
    div.threePreviousWorkMobile a {
    display: flex;
    justify-content: center;
    }
}