@media only screen and (min-device-width : 950px) and (max-device-width : 1024px){
    .sideArrow{
            width: 100vw;
        } 

     div.metaaboutContainer{
        height: 150vh;
    } 

    .projectsContainer {
        padding: 15px 6px;
        font-size: 1.4em;
        height: 1000px;
    }
    .picsContainerProjects{
        grid-template-columns: 100%;
    }
    ul.projectSkills li {
        display: inline;
    }

    .picsContainerProjects article {
        margin: 10px 0;
    }
.picsContainerProjects article{
    margin: 4% 0;
}

}

@media screen and (max-width: 1200px) {
    .threePreviousWork{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-flow: wrap;
    }
    article.thum{
        top: 0px;
    }
}

@media screen and (max-width: 949px) {
.picsContainerProjects article{
    margin: 4% 0;
}

    h3{
        margin: 5% 0;
        font-size: 1.77em;
    }
    .picsContainerProjects{
        display: -ms-grid;
        display: grid;
        grid-template-columns: 100%;
            float: none;
    }

    .projectsContainer{
        padding: 1px 20px;
        font-size: 1em;
    }
    
    .threePreviousWork{ display: none; }

    .threePreviousWorkMobile{
        display: flex;
        flex-direction: column;
    }
    div.threePreviousWorkMobile a {
    display: flex;
    justify-content: center;
    }
}