<div class="projectsContainer" itemscope>
	<h3>Crafted Experiences</h3>
	<div class="picsContainerProjects">
		
		<div class="skillsProjectsContainer">
			<h4>Web Dev Skills</h4>
			 <ul class="projectSkills">
			  <li *ngFor="let oneSkill of projectSkillsList">
			    {{ oneSkill.ability }}
			  </li>
			 </ul>
		</div>

		<div class="threePreviousWork">
			<a href="https://www.abbottbuild.com.au/" itemprop="url" target="_blank">
				<article class="thumb centerLoanImage" [@picProjectIn]=picState>
					<img class="lozad border-button" data-src=".././assets/experiences/dynamic-content.png" alt="An example of dynamicly crafted website that engages users"/>
				</article>
			</a>
			<a href="http://cyanergy.com.au/" itemprop="url" target="_blank">
				<article class="thumb middlePic" [@picProjectIn]=picState1>
					<img class="lozad border-button" data-src=".././assets/experiences/online-store.png" alt="A complex online-store with a payment gateway and products" />
				</article>
			</a>
			<a href="https://www.agribin.com.au/" itemprop="url" target="_blank">
				<article class="thumb" [@picProjectIn]=picState2>
					<img class="lozad border-button" data-src=".././assets/experiences/engaging-code.png" alt="An SEO optimised website for Search Engines" />
				</article>
			</a>
			<a href="http://www.bom.gov.au/water/landscape/" itemprop="url" target="_blank">
				<article class="thumb" [@picProjectIn]=picState3>
					<img class="lozad border-button" data-src=".././assets/experiences/advanced-coding.png" alt="Web App made for the public" />
				</article>
			</a>			
		</div>


		<div class="threePreviousWorkMobile">
			<a href="https://www.agribin.com.au/" itemprop="url" target="_blank">
				<article class="thumb  ">
					<img class="lozad border-button" data-src=".././assets/experiences/dynamic-content.png" alt="An example of dynamicly crafted website that engages users"/>
				</article>
			</a>
			<a href="http://cyanergy.com.au/" itemprop="url" target="_blank">
				<article class="thumb ">
					<img class="lozad border-button" data-src=".././assets/experiences/online-store.png" alt="A complex online-store with a payment gateway and products" />
				</article>
			</a>
			<a href="https://www.abbottbuild.com.au/" itemprop="url" target="_blank">
				<article class="thumb">
					<img class="lozad border-button" data-src=".././assets/experiences/engaging-code.png" alt="An SEO optimised website for Search Engines" />
				</article>
			</a>
		</div>

	</div>
</div>