@media screen and (max-width: 992px) {
    h3{
        margin-bottom: 20px;
        font-size: 2em;
    }

	.picsContainerProjects{
        display: flex;
	    flex-direction: column;
	}

.projectsContainer{
    padding: 10vh 6vw;
    font-size: 1.4em;
    height: 130vh;
}

.threePreviousWork {
    display: flex;
    flex-direction: column;
}

}