.threePreviousWorkMobile{
    display: none;
}

 h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
ul.projectSkills{
    font-size: 1em;
    color: #1f2325;
    position: initial;
    z-index: 99;
    list-style: none;
    padding: 0;
}
h4{
    font-weight: bold;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}
.projectsContainer{
    padding: 6vh 6vw 15vh 6vw;
    font-size: 1.4em;
    height: 140vh;
}
h3 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 3em;
}
img {
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
    transition: all 0.3s ease;
    cursor: pointer;
}

img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.picsContainerProjects article img {
    width: 199px;
    height: 199px;
    margin: 5px;
    padding: 1%;    
}
.picsContainerProjects article {
    margin: 10% 0;
}
.picsContainerProjects {
    display: grid;
    grid-template-columns: 25% 75%;
}
.threePreviousWork {
    display: flex;
    flex-direction: row;
}
article.thumb.middlePic {
    position: relative;
    top: -150px;
} 
*,
*:before,
*:after {
  box-sizing: border-box;
}
.border-button {
  border: solid 10px #43b7ff;
  margin: 0.1em;
}
