<div class="projectsContainer">
	<h3>Previously Created Experiences</h3>
	<div class="picsContainerProjects">
		<article class="thumb centerLoanImage">
			<img class="lozad border-button" data-src=".././assets/experiences/squareAgribin.png" />
		</article>
		<article class="thumb middlePic">
			<img class="lozad border-button" data-src=".././assets/experiences/squareCyanergy.png" />
		</article>
		<article class="thumb">
			<img class="lozad border-button" data-src=".././assets/experiences/squareAbbotBuild.png" />
		</article>
	</div>
</div>