<div class="projectsContainer">
	<h3>Previously Created Experiences</h3>
	<div class="picsContainerProjects">
		<a href="https://www.agribin.com.au/" target="_blank">
			<article class="thumb centerLoanImage" [@picProjectIn]=picState1>
				<img class="lozad border-button" data-src=".././assets/experiences/squareAgribin.png" />
			</article>
		</a>
		<a href="http://cyanergy.com.au/" target="_blank">
			<article class="thumb middlePic" [@picProjectIn]=picState>
				<img class="lozad border-button" data-src=".././assets/experiences/squareCyanergy.png" />
			</article>
		</a>
		<a href="https://www.abbottbuild.com.au/" target="_blank">
			<article class="thumb" [@picProjectIn]=picState1>
				<img class="lozad border-button" data-src=".././assets/experiences/squareAbbotBuild.png" />
			</article>
		</a>
	</div>
</div>