h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.fade {
  animation-name: fade;
  animation-duration: 2s;
}
.projectsContainer{
    padding: 10vh 6vw;
    font-size: 1.4em;
        height: 140vh;
}
h3 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 3em;
}
img {
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
    transition: all 0.3s ease;
    cursor: pointer;
}

img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.picsContainerProjects article img {
    width: 370px;
    height: 400px;
    margin: 0;
    padding: 0;    
}
.picsContainerProjects{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
} 
article.thumb.middlePic {
    position: relative;
    top: -150px;
} 
*,
*:before,
*:after {
  box-sizing: border-box;
}
.border-button {
  border: solid 10px #43b7ff;
  margin: 0.1em;
  transition: -webkit-clip-path 0.3s linear;
  transition: clip-path 0.3s linear;
  transition: clip-path 0.3s linear, -webkit-clip-path 0.3s linear;
  -webkit-clip-path: polygon(
    calc(0% + 5px) 
    calc(0% + 5px), 

    calc(100% - 5px) 
    calc(0% + 5px), 

    calc(100% - 5px) 
    calc(100% - 5px), 

    calc(0% + 5px) 
    calc(100% - 5px)
    );
          clip-path: polygon(
    calc(0% + 5px) 
    calc(0% + 5px), 

    calc(100% - 5px) 
    calc(0% + 5px), 

    calc(100% - 5px) 
    calc(100% - 5px), 

    calc(0% + 5px) 
    calc(100% - 5px)
    );
}
.border-button:hover {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}