<div class="contactContainer">
	<h3 class="contactTtitle">Thinking of a Project or Partnership? <br /> Lets chat...</h3>
	<ul class="portMac">
		<li>Port</li>
		<li>Macquarie</li>
	</ul>
	<ul class="listOfContacts">
		<li [@changeDivSize]=currentState>
			<a href="tel:0452241945">Phone: 0452 241 945</a>
		</li>
		<li [@changeDivSize]=currentState>{{testb}}</li>
		<li [@changeDivSize]=currentState>Linked In</li>
	</ul>
	<aside class="blurb">
		Port Web Solutions is a web development company located in Port Macquarie NSW.
	</aside>
</div>
