aside.blurb {
    color: white;
    text-align: center;
}
h3.contactTtitle {
    background: white;
    text-align: center;
    font-size: 3em;
    color: #f4f4f4;
    text-shadow: -1px -1px 0 #0c0c0c, 1px -1px 0 #0c0c0c, -1px 1px 0 #0c0c0c, 1px 1px 0 #0c0c0c;
}
ul.portMac {
    font-size: 3em;
    color: white;
    list-style: none;
}
ul.listOfContacts {
    color: #43b7ff;
    list-style: none;
    font-size: 1.5em;
}