
a:visited {
    color: #2d51fd;
    text-decoration: none;
    transition: all 0.3s ease;
}
a{
  color: #43b7ff;
    transition: all 0.3s ease;
}
a:hover{
  color: #2d51fd;
}
h3.contactTtitle {
  text-align: center;
  font-size: 3em;
}
ul.portMac {
    font-size: 3em;
    color: white;
    list-style: none;
    margin: 0;
    padding: 5% 1em;
}
ul.listOfContacts {
  color: #43b7ff;
  font-size: 1.5em;
  line-height: 50px;
}
div#phoneAppear {
    margin-right: -5px;
}

.thinkingSection{
  height: 580px;  
  background: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.bigquote{
  font-family: 'Alex Brush', cursive;
  font-display: fallback;
  font-size: 8em;
  width: 800px;
  padding: .7em;
  transition: all 0.3s ease;
}

.bigquote:hover{
  background: #f6fbff;
}
.questionMark{
  position: relative;
  right: 14px;
}
.centerButtonQuote{
  margin: 0 auto;
}
ul.portMac{
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 36%, rgba(0,0,0,0.23) 94%, rgba(0,0,0,0.00) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 36%,rgba(0,0,0,0.23) 94%,rgba(0,0,0,0.00) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 36%,rgba(0,0,0,0.23) 94%,rgba(0,0,0,0.00) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#3b000000',GradientType=0 ); /* IE6-9 */
}
.bottomContact{
    background: url('../../assets/splatter4.2.svg');
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 8; 
    grid-row-end: 13;
    font-style: normal;
}
.containerSVGContact {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 13;
}

.metaContactContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 100px);
}
.thinkingSection {
    grid-column-start: 1;
    grid-column-end: 5;
}


#phoneAppear{

}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-5px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(5px, 0, 0);
  }
}

.shake {
  animation-name: shake;
  animation-duration: 1s;
  animation-delay: 5s;
}
 
a.phoneGroup {
    display: flex;
    flex-direction: row;
    color: #43b7ff;
} 

a.phoneGroup:hover{
  color: #2d51fd;
}