@media screen and (max-width: 992px) {
  .bigquote{
    font-size: 5em;
    width: 100%;
  }
	.bottomContact{
	    background: black;
	}
h3.contactTtitle{
    text-align: center;
    font-size: 2em;
    position: relative;
    z-index: 99;
}
	div.metaContactContainer{
	    grid-template-rows: repeat(11,100px);
	}
span.questionMark svg {
    height: 30px;
}

.specialEm {
margin-right: -7px;
}

}

@media screen and (max-width: 625px) {
  .bigquote{
    font-family: 'Alex Brush', cursive;
      font-display: fallback;
    font-size: 3em;
  }
  ul.listOfContacts{
      font-size: 1.2em;
  }
  ul.portMac {
    position: relative;
    z-index: 9;
  }
}