
h3.contactTtitle {
    background: white;
    text-align: center;
    font-size: 4em;
}
ul.portMac {
    font-size: 3em;
    color: white;
    list-style: none;
}
ul.listOfContacts {
    color: #43b7ff;
    list-style: none;
    font-size: 1.5em;
}