<h1>Port Web Solutions </h1>
<div class="metaContainer">
	<div class="backgroundLayer2"> 
		<app-quote [passInQuote]="topQuoteStateVariable"></app-quote>
		<header>
		    <app-top [topLevelHandController]="topHandStateVariable"></app-top>
		</header>
		
		<section id="about">
			<app-about></app-about>
		</section>

		<section id="work" class="mainContent">
			<app-projects></app-projects>
			<div class="organizeContent">
			    <article class="thumb">
					<img class="lozad" width="500px" data-src=".././assets/stockSail.jpg" />
			    </article>
			    <article class="thumb">
					<img class="lozad" width="500px" data-src=".././assets/stockSail.jpg" />
			    </article>
			</div>		
		</section>

		<section id="services">
			<app-services></app-services>
		</section>
		<section id="contact"></section>
		<footer>
			<app-footer></app-footer>
		</footer>
	</div>
</div>
