<div class="mobileQuote">
	<a href="http://portwebsolutions.com.au/quote/index.html">REQUEST A QUOTE</a>
</div>



<div class="metaContainer">
	<div class="backgroundLayer2"> 
		<app-quote [passInQuote]="topQuoteStateVariable"></app-quote>
		<header>
		    <app-top [topLevelHandController]="topHandStateVariable"></app-top>
		</header>
		
		<section id="about">
			<app-about></app-about>
		</section>

		<section id="work" class="mainContent">
			<app-projects></app-projects>		
		</section>

		<section id="services">
			<app-services></app-services>
		</section>
		<section id="contact" class="matBackground">
			<app-contact></app-contact>
			<footer>
				<app-footer></app-footer>
			</footer>			
		</section>

	</div>
</div>

