<div class="mobileQuote">
	<a href="http://portwebsolutions.com.au/quote/index.html">REQUEST A QUOTE</a>
</div>


<h1>Port Web Solutions </h1>
<div class="metaContainer">
	<div class="backgroundLayer2"> 
		<app-quote [passInQuote]="topQuoteStateVariable"></app-quote>
		<header>
		    <app-top [topLevelHandController]="topHandStateVariable"></app-top>
		</header>
		
		<section id="about">
			<app-about></app-about>
		</section>

		<section id="work" class="mainContent">
			<app-projects></app-projects>		
		</section>

		<section id="services">
			<app-services></app-services>
		</section>
		<section id="contact">
			<app-contact></app-contact>
		</section>
		<footer>
			<app-footer></app-footer>
		</footer>
	</div>
</div>
