@media only screen and (min-device-width : 950px) and (max-device-width : 1024px){

}









@media screen and (max-width: 992px) {
  .servicesContainer{
      padding: 0vh 0vw;
  }
  span.serviceExplaination {
      display: block;
          text-align: left;
  }
  li.itemSolution{
    font-size: 1.2em;
    line-height: 1.4em;
    padding: 3% 0;
    display: flex;    
  }

  h3{
    font-size: 2em;
    margin: 5%;
  }
  .solutionsList {
    padding: 10px;
  }
}