@media screen and (max-width: 992px) {
  .servicesContainer{
      padding: 20vh 0vw;
  }
  span.serviceExplaination {
      display: block;
  }
  li.itemSolution{
    font-size: 1.4em;
    line-height: 1.7em;
    padding: 5% 0;
  }
}