@media screen and (min-width: 991px) {
	.titleWrapperMobile{ display: none; }
}


@media screen and (max-width: 992px) {
	.titleWrapper{ display: none; }
div.subContainerTitle svg{
    display: none;
}

	div.titleWrapperMobile{
	    display: grid;
    	width: 100%;
    	grid-template-columns: 100%;
    	top: 75px;
    	position: relative;
	}
	.textUp {
    font-size: 12vw;
    padding-right: 2px;
    margin-left: 15px;
	}
.titleDownMain {
    font-size: 7vw;
}
	section.coolMobileTitle {
	    width: 100%;
	}

	.titleWrapperMobile div {
    	width: 100%;
	}
}



@media screen and (max-width: 1350px) and (min-width: 1051px) {
	.titleDownWeb{ top: 103px; }
}

@media only screen and (max-width: 1050px) {
	.titleDownWeb{
	    top: 80px;
	}

	div.titleWrapper{
	    grid-template-columns: 18% 27% 45%;
	}

}