@media screen and (max-width: 1350px) and (min-width: 1051px) {

.titleDownWeb{
    top: 103px;
}

}

@media only screen and (max-width: 1050px) {

.titleDownWeb{
    top: 80px;
}

div.titleWrapper{
    grid-template-columns: 18% 27% 45%;
}

}