@media screen and (max-width: 992px) {
	.quoteContainer{
		display: none;
	}

	.mobileQuote{
		display: block;
  position: -webkit-sticky;
  position: sticky;		
	}
}
@media screen and (min-width: 993px) {
	.quoteContainer{
		display: block;
	}

	.mobileQuote{
		display: none;
	}
}
