.quoteContainer {
    color: #43b7ff;
    float: right;
    margin-top: 10px;
    position: fixed;
    top: 0vh;
    padding-right: 7%;
    z-index: 2;
    right: 20px;
}
.quoteContainer button {
  width: 90px;
  font-size: 12px;
  border-radius: 100px;
  min-height: 90px;
  padding: 2px;
  line-height: 14px;
  color:white;
    background: linear-gradient(to top, #0f274e, #264ea9);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#093995', endColorstr='#3a6699',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	transition: all 0.3s ease;
  border: 4px solid #62b8f8;
}

.quoteContainer button:hover {
  font-size: 13px;
  color: #fdffb1;
  -webkit-box-shadow: 1px 1px 4px 2px rgba(51,51,51,0.57);
  -moz-box-shadow: 1px 1px 4px 2px rgba(51,51,51,0.57);
  box-shadow: 1px 1px 4px 2px rgba(51,51,51,0.57);
}