@media only screen and (max-width: 1350px) {
	.topWrapper{
	    padding: 0 6% 0 6%;
	    height: 105vh;
	}
}
@media only screen and (max-width: 950px) {
	.topWrapper{
	    padding: 0 6% 0 6%;
	    height: 85vh;
	}
}
@media only screen and (max-width: 850px) {
	ul.navButtonHolder li a {
	    font-size: 14px;
	}
}
@media only screen and (max-width: 850px) {
	.topWrapper{
	    padding: 0 6% 0 6%;
	    height: 75vh;
	}
}

@media only screen and (max-width: 750px) {
	.topWrapper{
	    padding: 0 6% 0 6%;
	    height: 65vh;
	}
}

@media only screen and (max-width: 650px) {
	.topWrapper{
	    padding: 0 6% 0 6%;
	    height: 55vh;
	}
}