.topWrapper {
    padding: 0 15% 0 15%;
        height: 105vh;
}

ul.navButtonHolder li {
    display: inline-block;
    padding: 15px 2%;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

ul{
	margin: 0;
	padding: 0;
  justify-content: space-between;
  display: flex;	
  height: 70px;
}


li a, li a:visited {
  text-decoration: none;
  position: relative;
  color: #62b8f7;
}
li a:after, li a:visited:after {
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #069;
  transition: 0.2s;
}
li a:hover:after, li a:visited:hover:after {
  width: 100%;
}
li a.block, li a:visited.block {
  display: block;
  padding: 0.5em;
}
li a.block:hover, li a:visited.block:hover {
  background: #eee;
}