@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');


@import "~@angular/material/prebuilt-themes/indigo-pink.css";

a.ng-tns-c0-0{
	color: white;
}

.titleWrapper div span{
	font-family: 'PT Sans', sans-serif;
	font-display: fallback;
	text-transform: uppercase;
}

section, .navButtonHolder{
	font-family: 'Poppins', sans-serif;
	font-display: fallback;
}
body{
	margin: 0px;
	width: 100vw;
	overflow-x: hidden;
}
.goodWebsitesToolTips{
    font-size: 1.0em;
    background: #408bd2;
}
a{
	text-decoration: none;
}
* {
    box-sizing: border-box;
    text-align: justify;
}